/* THEME DEFAULT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'Trebuchet MS';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'Trebuchet MS';
    line-height: 2;
}